name: Test Darshan's MD Improver

on:
  workflow_dispatch:

jobs:
  refine:
    runs-on: ubuntu-latest
    steps:
      - name: Improve markdown using Darshan's action
        uses: Darshan-222004/darshan-md-improver@v1
        with:
          repo: https://github.com/Darshan-222004/test-md-improver.git
          mdfile: README.md
          purpose: improve the project description
